<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Names</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('static/chat.jpg');
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    </style>
</head>
<body>
    <h1>Best Profiles for {{ skill }}</h1>
    <ul>
        {% for name, linkedin_link in names_with_links %}
            <li>{{ name }} - <a href="{{ linkedin_link }}" target="_blank">LinkedIn</a></li>
        {% endfor %}
    </ul>
</body>
</html>
